* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}


img {
  display: block;
  margin: 0;
  
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 8px;
  margin-bottom: 24px;
}

.search-form > button {
  margin-left: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  scroll-behavior: smooth;
}

.photo-card {
  margin: 20px;

}



.info {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

p {
  margin: 0;
}


.photo-card {
  width: 300px;
}

.info {
  margin: auto 0;
}

.load-more--hidden {
  display: none;
}
